body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-family: 'Roboto', sans-serif;
}
.playerNameText{
    color: #000;
}
h2 {
    color: white;
}

#canvas, #canvas1 {
    border: 3px solid white;
    padding: 15px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#canvas1 {
    display: none;
    margin-top: 15px;
}

#startScreen {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

label, input, button {
    margin: 10px 0;
    font-size: 20px;
    color: white;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
}

button {
    padding: 15px 30px;
    background-color: #ff7e5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #feb47b;
}
